#main-container.container
  header.logo.col-md-12
    h1 Próximo

  form.login-container.col-md-6
    .form-group
      input.form-control(name="email", placeholder="Email")

    .form-group
      input.form-control(name="password", type="password", placeholder="Password")

    .form-group
      button.btn.btn-primary Login
